


a {
    color: white;
}


#menuMaster {
    display: none;
    margin-top: 35px;
    margin-left: 2%;
    width: 15%;
}

#menuMaster :hover {
    color: silver;
}


#secret {
    width: 150px;
    height: 150px;
    background-color: black;
    margin-top:40%;
    margin-left:90%;
}

#secret :hover {
    background-color:white;
    color:white;
}





