<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBCS"
         connectionString="data source=.\"></add>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"></customErrors>
  </system.web>
</configuration>
<!--ProjectGuid: acfc8102-5729-4824-a99b-17eb716ed48d-->
