@page
@model Index1Model
@{
    ViewData["Title"] = "Inicial 2";
}


<div style="margin-top:50px;">
    <form>
        <input type="text" name="login" />
        <input type="password" name="pass" />
        <input type="submit" value="Entrar" />
    </form>


</div>