@page
@model IndexModel
@{
    ViewData["Title"] = "Inicial 2";
}


<div style="margin-top:50px;">
   

        <br /><br /><br />

        <form>
            <input style="width:400px;" type="text" name="sql" placeholder="sql" />
            <input type="submit" value="Executar" />
        </form>


        <br /><br /><br />
        Resposta: @Model.resultExe

</div>